<p>Hi admin !</p>
<p>There is a new question has been added by User <span style="font-weight:bold"> <%= @question.user.name %> </span>
 - Please preview it with the question ID <%= @question.id %></p>
<p>*** Please do not reply to this email ***</p>
Thanks,